snippet dd`
	```strftime("%Y-%m-%d")```
snippet kbd
	:kbd:\`${1}\`
snippet no
	.. note::
snippet co
	.. code::
snippet wa
	.. warning::
snippet ==
	========== ==========
	${1}
	========== ==========
	
	
	========== ==========
