snippet ruparam
:author: ${1:Максим Ким}
:experimental:
:toc: left
:icons: font
:numbered:
:source-highlighter: coderay
:caution-caption: Предостережение
:important-caption: Важно
:note-caption: Замечание
:tip-caption: Подсказка
:warning-caption: Внимание
:figure-caption: Рисунок
:table-caption: Таблица
:example-caption: Пример
:toc-title: Содержание
:appendix-caption: Приложение
${0}
endsnippet
