snippet front "Front matter" b
---
title: ${1:Title}
subtitle: ${2:Sub Title}
author: ${3:Maxim Kim}
lang: ${4:en}
documentclass: ${5:article}
titlepage: false
toc: false
numbersections: false
llogo: C:/Users/maksim.kim/Pictures/logo/logo-adastra.png
llogooptions:
- width=30mm
---
$0
endsnippet
