plugged/
pack/minpac/
pack/packager/
pack/habamax/start/vim-evalvim/
pack/habamax/start/vim-asciidoctor/
pack/habamax/start/vim-skipit/
pack/habamax/start/vim-rest-console/
pack/habamax/start/vim-elixir-mix-test/
pack/habamax/start/vim-sendtoterm/
pack/habamax/start/vim-colors-defminus/
pack/habamax/start/vim-colors-defnoche/
pack/habamax/start/vim-colors-lessthan/
pack/habamax/start/vim-commentary/
pack/habamax/start/vial
/pack/habamax/start/vim-do-outline/
autoload/plug.vim.old
.netrwbook
rplugin.vim
*.html
.netrwhist
*.pyc
*.temp
/mydadbods.vim
/pack/habamax/start/vim-ft-gdscript/
/tags
